<!DOCTYPE html><html><head>
<meta charset="utf-8">
<title>Make Money</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="./css/mui.min.css">
<link rel="stylesheet" href="./css/tabbar.css">
<script src="./js/config.js" language="JavaScript"></script>
</head><body>
		<nav class="vuefill1 mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar-with-mission" @tap="onTabClick(event)">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">{{data.mission}}</span>
			</a>
			<a class="mui-tab-item " href="#tabbar-with-me" @tap="onTabClick(event)">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">{{data.me}}</span>
			</a>
		</nav>

<!--页面主结构开始-->
<div id="app" class="mui-views">
	<div class="mui-view">
		<div class="mui-navbar" style="z-index: 12;">
		</div>
		<div class="mui-pages">
		</div>
	</div>
</div>
<!--页面主结构结束-->
<!--单页面开始-->
<div id="app_content" class="mui-page">
	<!--页面标题栏开始-->
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<h1 class="vuefill2 mui-center mui-title">{{data.appname}}</h1>
	</div>
	<!--页面标题栏结束-->
	<!--页面主内容区开始-->
	<div class="mui-page-content">
		<div id="pullrefresh" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				
				<div id="tabbar-with-mission" class="mui-control-content mui-active">
					<div class="mui-card" style="margin: 0px; box-shadow: 0 1px 0px rgba(0,0,0,.1);">
						<div class="mui-card-header mui-card-media" style="height:20vw;background-image:url(./images/mkmy1.jpg)"></div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner" v-html="tab_menu.me.lab.mission_note">{{tab_menu.me.lab.mission_note}}</div>
						</div>
					</div>
					<ul class="mui-table-view mui-table-view-chevron" style="margin-top: 8px;">
						<li class="mui-table-view-cell mui-media" v-for="item in mission_items">
							<a class="mui-navigate-right" href="javascript:;" :data-item="item.link" data-name="ahref">
								<img class="mui-media-object mui-pull-left" :src="item.img">
								<div class="mui-media-body">
									{{item.title}}
									<p class='mui-ellipsis'>{{item.link}}</p>
								</div>
								<span class="mui-badge mui-badge-purple">{{item.stock}}</span>
							</a>
						</li>
					</ul>
				</div>
				<div id="tabbar-with-me" class="mui-control-content ">
					<ul class="mui-table-view " style="margin-top: 0px; padding-top: 15px; padding-bottom: 10px;">
						<li class="mui-table-view-cell">
							<div class="mui-slider-cell">
								<div class="oa-contact-cell mui-table">
									<div class="oa-contact-avatar mui-table-cell">
										<img src="./images/header.gif" />
									</div>
									<div class="oa-contact-content mui-table-cell">
										<div class="mui-clearfix">
											<h4 class="oa-contact-name">{{tab_menu.me.lab.user_email}}</h4>
										</div>
										<p class="oa-contact-email mui-h6">
											{{sv.me.user_email}}
										</p>
									</div>
								</div>
							</div>
							<button type="button" class="mui-btn mui-btn-link"><a href="#public_notice" class="mui-navigate-right">
								{{tab_menu.me.lab.public_notice}}
							</a></button>
						</li>
					</ul>
					<ul class="mui-table-view mui-grid-view mui-grid-9" style=" border-top: none; border-left: none; border-bottom: none; background-color: #ffffff; ">
						<li class="mui-table-view-cell mui-media mui-col-xs-4 ">
							<span class="mui-media-body" style=" margin-top: 0px; height: 23px; ">
								<span class="mui-badge mui-badge-primary" style=" font-size: 15px; ">+{{sv.me.total_commission}}</span>
							</span>
							<span class="mui-media-body" style=" margin-top: 8px; ">{{tab_menu.me.lab.total_commission}}</span>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-4 ">
							<span class="mui-media-body" style=" margin-top: 0px; height: 23px; ">
								<span class="mui-badge mui-badge-primary" style=" font-size: 15px; background-color: #53a2f9;">+{{sv.me.team_isdrawmoney_total}}</span>
							</span>
							<span class="mui-media-body" style=" margin-top: 8px; ">{{tab_menu.me.lab.commission_team}}</span>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-4 ">
							<span class="mui-media-body" style=" margin-top: 0px; height: 23px; ">
								<span class="mui-badge mui-badge-purple" style=" font-size: 15px; ">+{{sv.me.total_interest}}</span>
							</span>
							<span class="mui-media-body" style=" margin-top: 8px; ">{{tab_menu.me.lab.interest}}</span>
						</li>
					</ul>
					<ul class="mui-table-view mui-grid-view mui-grid-9" style=" border-top: none; border-left: none; border-bottom: none; background-color: #ffffff; ">
						<li class="mui-table-view-cell mui-media mui-col-xs-6 ">
							<span class="mui-media-body" style=" margin-top: 0px; height: 23px; ">
								<span class="mui-badge mui-badge-danger" style=" font-size: 15px; ">{{sv.me.total_principal}}</span>
							</span>
							<span class="mui-media-body" style=" margin-top: 8px; ">{{tab_menu.me.lab.principal}}</span>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-6 ">
							<span class="mui-media-body" style=" margin-top: 0px; height: 23px; ">
								<span class="mui-badge mui-badge-green" style=" font-size: 15px; ">{{sv.me.isdrawmoney_total}}</span>
							</span>
							<span class="mui-media-body" style=" margin-top: 8px; ">{{tab_menu.me.lab.is_draw_money_total}}</span>
						</li>
					</ul>
					
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a href="#capital_details" class="mui-navigate-right">
								{{tab_menu.me.lab.capital_details}}
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#my_business_partner" class="mui-navigate-right">
								{{tab_menu.me.lab.my_business_partner}}
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#share_link_view" class="mui-navigate-right">
								{{tab_menu.me.lab.share_make_money}}
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right">
								{{tab_menu.me.lab.draw_money}}
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#help_view" class="mui-navigate-right">
								{{tab_menu.me.lab.help}}
							</a>
						</li>
					</ul>
					<ul class="mui-table-view" style="margin-bottom: 60px;">
						<li class="mui-table-view-cell">
							<a style="text-align: center;color: #FF3B30;" id="quit_account_btn">
								{{tab_menu.me.lab.logout}}
							</a>
						</li>
					</ul>
				
				</div>
				
			</div>
		</div>
	</div>
	<!--页面主内容区结束-->
</div>
<!--单页面结束-->
<div id="public_notice" class="mui-page" style="z-index: 10;">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">{{tab_menu.me.lab.public_notice}}</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-content">
			<div class="mui-scroll">
				<div class="mui-card">
					<ul class="mui-table-view" style=" margin-bottom: 0px; margin-top: 0px; ">
						<li class="mui-table-view-cell mui-collapse mui-active" v-for="item in notice_items" style=" background-color: #FFFFFF; ">
							<a class="mui-navigate-right" href="#">{{item.title}}</a>
							<div class="mui-collapse-content" style=" background-color: #eee; ">{{item.text}}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="help_view" class="mui-page" style="z-index: 10;">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">{{tab_menu.me.lab.help}}</h1>
	</div>
	<div class="mui-page-content">
			<div class="mui-scroll">
				<div class="mui-card">
					<ul class="mui-table-view" style=" margin-bottom: 0px; margin-top: 0px; ">
						<li class="mui-table-view-cell mui-collapse mui-active" style=" background-color: #FFFFFF; ">
							<a class="mui-navigate-right" href="#">{{tab_menu.me.lab.help}}</a>
							<div class="mui-collapse-content" v-html="tab_menu.me.lab.help_note" style=" background-color: #eee; ">{{tab_menu.me.lab.help_note}}</div>
						</li>
					</ul>
				</div>
			</div>
		
	</div>
</div>

<div id="share_link_view" class="mui-page" style="z-index: 10;">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">{{tab_menu.me.lab.share_make_money}}</h1>
	</div>
	<div class="mui-page-content">
			<div class="mui-scroll">
				<div class="mui-card">
					<ul class="mui-table-view" style=" margin-bottom: 0px; margin-top: 0px; ">
						<li class="mui-table-view-cell mui-collapse mui-active" style=" background-color: #FFFFFF; ">
							<a class="mui-navigate-right" href="#">{{tab_menu.me.lab.copy_link_tip}}</a>
							<div class="mui-collapse-content" style=" background-color: #eee; ">
								<div class="mui-input-row">
									<div class="mui-card" id="sharelink_txt" style="padding: 16px;margin: 8px 0px;user-select: text;">{{createShareLink()}}</div>
								</div>
								<button type="button" class="mui-btn mui-btn-primary mui-btn-block" @click="onCopyShareLink(event)">{{tab_menu.me.lab.copy_link_tip2}}</button>
							</div>
						</li>
					</ul>
				</div>
				<div class="mui-card">
					<img width="100%" src="images/pyramid1.jpg" />
				</div>
				<div class="mui-card" style=" padding: 8px; " v-html="tab_menu.me.lab.share_make_money_fxnote">{{tab_menu.me.lab.share_make_money_fxnote}}</div>
			</div>
		
	</div>
</div>


<div id="capital_details" class="mui-page" style="z-index: 10;">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">{{tab_menu.me.lab.capital_details}}</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-content">
			<div class="mui-scroll">
				<div class="mui-card" style=" margin: 10px 10px 5px 10px; ">
					<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border-top:none;margin: 8px 8px 8px 0px;padding: 0px;">
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_status}}
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.total_money}}({{tab_menu.me.lab.commission}})
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_total_interest}}
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_draw_money_status}}
						</li>
					</ul>
				</div>
				<div class="mui-card" style=" box-shadow: 0 0px 0px rgba(0,0,0,0); margin: 0px; background-color: #eee;">
				<ul class="mui-table-view" style="margin: 0px 0px 8px 0px;padding: 1px 0px 1px 0px; background-color: #eee;">
					<div class="mui-card" style="box-shadow: 0 0px 1px rgba(0,0,0,.8);" v-for="item in capital_details">
						<li class="mui-table-view-cell" style="margin: 0px 0px 0px 0px;padding: 0px; border-top: 1px solid #eee;">
							<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border-top:none;margin: 8px 8px 8px 0px;padding: 0px;">
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									{{item.status}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #FF5053;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									${{getMinMoney(item)}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #ee00ff;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									${{getInterest(item)}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									{{getMeIsDrawMoney(item)}}
								</li>
							</ul>
							<div class="mui-card-footer" style="font-size: 12px; min-height: 24px;padding: 4px 6px;background-color: #f0f8ff;border-radius: 0 0 0px 0px;">
								{{getOrderDate(item)}}</div>
						</li>
					</div>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="my_business_partner" class="mui-page" style="z-index: 10;">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">{{tab_menu.me.lab.my_business_partner}}</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-content">
			<div class="mui-scroll">
				<div class="mui-card" style=" margin: 10px 10px 5px 10px; ">
					<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border-top:none;margin: 8px 8px 8px 0px;padding: 0px;">
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_status}}
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.total_money}}({{tab_menu.me.lab.commission}})
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_total_cut}}
						</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
							{{tab_menu.me.lab.order_draw_money_status}}
						</li>
					</ul>
				</div>
				<div class="mui-card" style=" box-shadow: 0 0px 0px rgba(0,0,0,0); margin: 0px; background-color: #eee;">
				<ul class="mui-table-view" style="margin: 0px 0px 8px 0px;padding: 1px 0px 1px 0px; background-color: #eee;">
					<div class="mui-card" style="box-shadow: 0 0px 1px rgba(0,0,0,.8);" v-for="item in my_business_partner">
						<li class="mui-table-view-cell" style="margin: 0px 0px 0px 0px;padding: 0px; border-top: 1px solid #eee;">
							<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: #FFFFFF;border-top:none;margin: 8px 8px 8px 0px;padding: 0px;">
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" 
								style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									{{item.status}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"
								style="font-size: 8px;padding: 0px;vertical-align: middle;color: #FF5053;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									${{getMinMoney(item)}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"
								style="font-size: 8px;padding: 0px;vertical-align: middle;color: #ee00ff;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									${{getInterest(item)}}
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"
								style="font-size: 8px;padding: 0px;vertical-align: middle;color: #000000;word-wrap: break-word;word-break: normal;border-color: #FFFFFF;">
									{{getMeIsDrawMoney(item)}}
								</li>
							</ul>
							<div class="mui-card-footer" style="font-size: 12px; min-height: 24px;padding: 4px 6px;background-color: #f0f8ff;border-radius: 0 0 0px 0px;" v-html="getOrderDate(item)">
								{{getOrderDate(item)}}</div>
						</li>
					</div>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
	<script src="./js/mui.min.js"></script>
	<script src="./js/mui.view.js "></script>
	<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/lang_cn.js"></script>
	<script src="./js/tabbar.js"></script>
	<script>
		
		
	</script>
</html>